<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Food Channel</title>
</head>

<body>

    <header>
        <nav class="nav-extended text-shadow red darken-4">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_recipes') }}" class="brand-logo"><i>.food channel</i></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_recipes') }}">Add Recipe</a>
                    <li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>

                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>
                <h5 class="center-align red darken-4"><i>.food channel</i></h5>
            </li>
            {% if session.user %}
            <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('add_recipes') }}">Add recipe</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h5 class="text-shadow center-align">{{ message }}</h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>



    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer grey darken-3">
        <div class="container grey darken-3">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text text-shadow">Stay Connected</h5>
                    <hr class="shortbar">
                    <ul class="grey-text text-lighten-4">
                        <li><i class="fas fa-map-marked-alt"> Barcelona, Spain</i></li>
                        <li><i class="fas fa-envelope"> foodchannel@gmail.com</i></li>
                        <li><i class="fas fa-phone"> +34 987 987 765</i></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul class="social">
                        <li class="social-links"><a class="grey-text text-shadow text-lighten-3 fab fa-facebook-square"
                                href="https://www.facebook.com/"></a></li>
                        <li class="social-links"><a class="grey-text text-shadow text-lighten-3 fab fa-instagram-square"
                                href="https://www.instagram.com/!"></a></li>
                        <li class="social-links"><a class="grey-text text-shadow text-lighten-3 fab fa-pinterest"
                                href="https://www.pinterest.com/"></a></li>
                        <liclass="social-links"><a class="grey-text text-lighten-3 fab fa-youtube"
                                href="https://www.youtube.com/"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright red darken-4">
            <div class="container ">
                © 2020 Maridel Arcagua
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>