 {% extends "base.html" %}
 {% block content %}


 <div class="container ">
     <h5><b>Blog & Cook</b></h5>
     <hr class="shortbar">
 </div>

 <div class="col valign-wrapper">
     <span class="red darken-4">
         <img class="responsive-img"
             src="https://res.cloudinary.com/food-channel/image/upload/v1618934191/annie-spratt-R3LcfTvcGWY-unsplash_tg1ndg.jpg">
     </span>
 </div>

 <div>
     <div class="container">
         <h5 class="center-align">Our favourites<i class="material-icons"></h5>
         <hr class="shortbar">
     </div>
 </div>

 <div class="row">
     <div class="col s12 m4">
         <div class="card">
             <div class="card-image">
                 <img
                     src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/fish-vegetables.jpg">
             </div>
             <div class="card-content">
                 <p>I am a very simple card. I am good at containing small bits of information.
                 </p>
             </div>
             <div class="card-action">
                 <a href="#">Something‘s Fishy</a>
             </div>
         </div>
     </div>

     <div class="col s12 m4">
         <div class="card">
             <div class="card-image">
                 <img src="https://res.cloudinary.com/food-channel/image/upload/v1618934000/samples/food/dessert.jpg">
             </div>
             <div class="card-content">
                 <p>I am a very simple card. I am good at containing small bits of information.
                 </p>
             </div>
             <div class="card-action">
                 <a href="#">Cheesy Cake</a>
             </div>
         </div>
     </div>

     <div class="col s12 m4">
         <div class="card">
             <div class="card-image">
                 <img
                     src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/pot-mussels.jpg">
             </div>
             <div class="card-content">
                 <p>I am a very simple card. I am good at containing small bits of information.
                 </p>
             </div>
             <div class="card-action">
                 <a href="#">Pot Mussels</a>
             </div>
         </div>
     </div>
 </div>

 <h3 class="center-align">Log in</h3>

 <div class="row">
     <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
         <div class="card-panel">
             <!-- username -->
             <div class="row">
                 <div class="input-field col s12">
                     <i class="fas fa-user-cog prefix"></i>
                     <input id="username" name="username" type="text" minlength="5" maxlength="15"
                         pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                     <label for="username">Username</label>
                 </div>
             </div>
             <!-- password -->
             <div class="row">
                 <div class="input-field col s12">
                     <i class="fas fa-user-lock prefix"></i>
                     <input id="password" name="password" type="password" minlength="5" maxlength="15"
                         pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                     <label for="password">Password</label>
                 </div>
             </div>
             <!-- Log In -->
             <div class="row">
                 <button type="submit" class="col s12 btn-large red darken-4 text-shadow">
                     Log In <i class="fas fa-sign-in-alt"></i>
                 </button>
             </div>
         </div>
     </form>
 </div>

 <div class="row">
     <div class="col s12">
         <p class="center-align">
             New Here?
             <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Account</a>
         </p>
     </div>
 </div>

 {% endblock %}