{% extends "base.html" %}
{% block content %}

<div class="card-panel ">
    <div class="col-12">
        <img class="responsive-img"
            src="https://res.cloudinary.com/food-channel/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1618934191/annie-spratt-R3LcfTvcGWY-unsplash_tg1ndg.jpg">
    </div>
</div>

<section class="search">
    <form action="" method="">
        <input type="search" placeholder="Search Recipes">
        <button>Search</button>
    </form>
</section>

<div>
    <h5 class="z-depth-1 center-align">Our favorites <i class="material-icons text-shadow">favorite</i></h5>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img
                    src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/fish-vegetables.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">Somethings Fishy</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://res.cloudinary.com/food-channel/image/upload/v1618934000/samples/food/dessert.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">Cheesy Cake</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img
                    src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/pot-mussels.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
                <a href="#">Pot Mussels</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}