{% extends "base.html" %}
{% block content %}

<div class="container ">
    <h5 class="text-shadow darken-grey-text"><b>Blog & Cook</b></h5>
    <hr class="shortbar">
</div>

<div class="col valign-wrapper">
    <span class="red darken-4">
        <img class="responsive-img"
            src="https://res.cloudinary.com/food-channel/image/upload/v1618934191/annie-spratt-R3LcfTvcGWY-unsplash_tg1ndg.jpg">
    </span>
</div>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text blue-grey darken-4">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipes', recipe_id=recipe._id) }}"
                    class="btn-small blue-grey darken-2">Delete</a>
                <a href="{{ url_for('edit_recipes', recipe_id=recipe._id) }}"
                    class="btn-small black-text blue-grey lighten-3">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.due_date }}
                {% if recipe.is_urgent == "on" %}
                <i class="fas fa-star yellow-text lighten-2 tooltipped" data-position="right"
                    data-tooltip="Favorite"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ recipe.category_name }}</strong>
            <p>{{ recipe.recipe_description }}</p>
            <p><em>by: {{ recipe.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}