{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text red darken-4 text-shadow">
            <i class="fas fa-caret-down"></i>
            <strong>{{ recipe.category_name }}</strong>{{ recipe.due_date }}
            {% if recipe.is_urgent == "on" %}
            <i class="fas fa-star darken-4 yellow-text tooltipped" data-position="right" data-tooltip="favorite"></i>
            {% endif %}

            <div class="collapsible-body">
                <strong>{{ recipe.recipe_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<div>
    <div class="container">
        <h5 class="center-align">Our favourites<i class="material-icons text-shadow">favorite</i></h5>
        <hr class="shortbar">
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img
                    src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/fish-vegetables.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                </p>
            </div>
            <div class="card-action">
                <a href="#">Something‘s Fishy</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://res.cloudinary.com/food-channel/image/upload/v1618934000/samples/food/dessert.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                </p>
            </div>
            <div class="card-action">
                <a href="#">Cheesy Cake</a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img
                    src="https://res.cloudinary.com/food-channel/image/upload/v1618934002/samples/food/pot-mussels.jpg">
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                </p>
            </div>
            <div class="card-action">
                <a href="#">Pot Mussels</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}